@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
body{
    background-color: black;
    margin: 0;
    font-family:Cinzel;
}

.hero{
    padding: 1em;
}

.hero {
   .container{
       text-align: center;
       margin-top: 4em;
       margin-bottom: 3em;
   }
   
}

.login{
    color: gray;
    text-align: center;
    display: block;
    

    label,textarea{
        padding-right: 2em;
        
        
    }

    

    .username{
        padding-bottom: 2em;
        margin-left: -1em;
        font-size: large;
        input{
            margin-left: 3em;
            box-sizing: 2em;
            padding: .3em;
            padding-right: 2em;
            border-radius: .35em;   
        }
        label{
            margin-right: 0em;
        }
    }

    .pass{
        padding-bottom: 1em;
        
        input{
            margin-left: 5em;
            
            padding: .3em;
            padding-right: 2em;
            border-radius: .35em;
        }
        
    }

    .remember-me {
        margin-left: 4.7em;
        padding-bottom: 3em;

    }
    .remember-me label{
        font-size: small;
        
        
        
    }
    

    .login-clk{
        font-size: large;
        font-weight: bold;
        font-family: Cinzel;
        border-radius: .3em;
        border: 3px solid rgb(141, 65, 35);
        

        &:hover{
            background-color: #8d4123;
            cursor: pointer;
        }
    }


}



.footer{
    
    display: grid;
    position: fixed;
    bottom: 1em;
    margin: 1em;
    a{
        color:brown;
        text-decoration: none;
        &:hover{
            color: red;
        }
    }
    .contacts{
        position: fixed;
        right: 0;
        padding-right: 1em;
        
    }
}




@media all and (max-width: 640px) {
    .container img
     { width: 50%;
     }
     .login .username {
       /* padding-bottom: 3em; */
       font-size: large;
       
       padding-top: 25px;
       
     }
     /* .login .username label {
       padding-left: 100px;
     } */
     .login .username input {
       /* margin-left: 0px; */
      
       width: 130px;
       -webkit-box-sizing: 2em;
               box-sizing: 2em;
       padding: .3em;
       padding-right: 2em;
       border-radius: .35em;
     }
     .login .pass {
       padding-bottom: 3em;
       font-size: large;
       padding-left: -150px;
       /* margin-right: 40px; */
    margin-bottom: 0px;
     }
     
     .login .pass label {
       margin-left: -10px;
       
       padding-left: -10em;
     }
     
     .login .pass input {
       width: 130px;
       margin-top: 10px;
       margin-right: -20px;
      
       padding: .3em;
       padding-left: 2em;
       border-radius: .35em;
       border-radius: .35em;
     }
     
   }