@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700;900&display=swap');

body{
    background-color: rgb(150, 150, 150);
    font-family: Cinzel;
  
}
.image1 {
    text-align: center;
    margin-top:7em ;
    img{
        border: 3px solid #535353;
        background-color: #535353;
        border-radius: 1em;
        padding: 10em;
    }
}


/////////////////////////////////////////////////////////////////
.ans{
    text-align: center;
    padding: 1em;

    input[name="answer"]{
        padding-right: 4em;
        padding-top: .5em;
        margin-right: 2em;
    }
    
}

button{
    color: black;
    margin-top: -3em;
    
    
    font-family: Cinzel;
    border-radius: .5em;
    
    border: 3px solid #535353;

    &:hover{
        background-color: #535353;
        color: white;
    }
}
.enter{
    text-align: center;
    padding-bottom: 3em;
}


//////////////////////////////////////////////////////






#Myid{
    display: none;
    
}

.next-clue{
    
    
    text-align: center;
    word-spacing: 2em;
    a{
        
        text-decoration: none;
        border: 2px solid black;
        color:black;
        padding: .2em;
        border-radius: .6em;
        &:hover{
            background-color: black;
            color: whitesmoke;
        }
    }
    
}


