
body{
    background-color: rgb(168, 167, 167);
}

.key-answers{

   text-align: center;
   margin-top: 20em;
   word-spacing: 1em;
    input{
        width: 30px;
        text-align: center;
        font-size: xx-large;
        border-radius: .5em;
        padding: .2em;

    }
    margin-bottom: 5em;
  
}

#a1{
    background-color: yellow;
}
#a2{
    background-color:grey;
}
#a3{
    background-color:blue;
}
#a4{
    background-color:aqua;
}
#a5{
    background-color:palegreen
}
#a6{
    background-color:red;
}
#a7{
    background-color:darkgreen;
}
#a8{
    background-color:blueviolet;
}
#a9{
    background-color:brown;
}
#a10{
    background-color:rosybrown;
}
#a11{
    background-color:orange;
}
#a12{
    background-color:hotpink;
}

button{
    font-size: xx-large;
    color: black;
    margin-top: -3em;
    
    
    font-family: Cinzel;
    border-radius: .5em;
    
    border: 3px solid #535353;

    &:hover{
        background-color: #535353;
        color: white;
    }
}
.enter{
    text-align: center;
    padding-bottom: 3em;
}




.next-clue{
    
    
    text-align: center;
    word-spacing: 2em;
    a{
        
        text-decoration: none;
        border: 2px solid black;
        color:black;
        padding: .2em;
        border-radius: .6em;
        &:hover{
            background-color: black;
            color: whitesmoke;
        }
    }
    
}