
body{
    background-color: rgb(168, 167, 167);
}

.key-answers{

   text-align: center;
   margin-top: 0em;
   word-spacing: 1em;
    input{
        width: 30px;
        text-align: center;
        font-size: xx-large;
        border-radius: .5em;
        padding: .2em;

    }
    margin-bottom: 5em;
  
}

#goback{
    font-size:normal;
   
    margin-top: -3em;

    
    
    a{
        color: black;
        font-family: Cinzel;
        border-radius: .5em;
        text-decoration: none;  
        padding: .13em;
        
    border: 3px solid #535353;
    &:hover{
        background-color: #535353;
        color: white;
    }

    }
   
    
   

}


#a1{
    background-color: yellow;
}
#a2{
    background-color:grey;
}
#a3{
    background-color:blue;
}
#a4{
    background-color:aqua;
}
#a5{
    background-color:palegreen
}
#a6{
    background-color:red;
}
#a7{
    background-color:darkgreen;
}
#a8{
    background-color:blueviolet;
}
#a9{
    background-color:brown;
}
#a10{
    background-color:rosybrown;
}
#a11{
    background-color:orange;
}
#a12{
    background-color:hotpink;
}

button{
    font-size: xx-large;
    color: black;
    margin-top: -3em;
    
    
    font-family: Cinzel;
    border-radius: .5em;
    
    border: 3px solid #535353;

    &:hover{
        background-color: #535353;
        color: white;
    }
}
.enter{
    text-align: center;
    padding-bottom: 3em;
}




.next-clue{
    
    
    text-align: center;
    word-spacing: 2em;
    a{
        
        text-decoration: none;
        border: 2px solid black;
        color:black;
        padding: .2em;
        border-radius: .6em;
        &:hover{
            background-color: black;
            color: whitesmoke;
        }
    }
    
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

//   #myBtn {
//       &:hover{
//         width: 5em;
//         cursor: pointer;
//       }
//   }
.hint-btn{
    
    display: grid;
    position: fixed;
    bottom: 3em;
    margin: 1em;

    #myBtn{
        width: 2.5em;
        position: fixed;
        right: 0;
        padding-right: 1em;
       
        &:hover{
            width: 2.8em;
            cursor: pointer;
        }
    }
    
}

.hints{
    li{
    &:hover{
        font-weight: bolder;
        color: black;
    }
}
}


#ten-countdown {
    /* text-align: center; */
    // border: 5px solid #004853;
    display:inline;
    padding: 5px;
    color: #004853;
    font-family: Verdana, sans-serif, Arial;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
     
}
