@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
body {
  background-color: black;
  margin: 0;
  font-family: Cinzel;

  text-align: center;
}

//////////////////////////////////////TOP LOGO////////////////////////////////////////

.top-logos{
    
  display: grid;
  position: fixed;
  top: 1em;
  margin: 1em;


  img{
    width: 10em;
  }
  .gulf{
    position: fixed;
    right: 0;
    padding-right: 1em;

  }
  .define{
    right: -4em;
  }

}

//////////////////////////////////////TOP LOGO////////////////////////////////////////


.typetext{
  font-size:30px; 
  margin: 10px 50px; 
  letter-spacing: 6px;
  color:red; 
  font-weight: bold;
  
}



.hero{
    padding-top: 3em;
}

.hero {
   .container{
       text-align: center;
       margin-top: 8em;
       margin-bottom: 3em;
   }
  }

  
.timer{
    font-family: Orbitron;
    color: rgb(141, 65, 35);
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 1em;
}

.start{
    text-align: center;
    margin-top: 3em; 
    margin-left: 1em;   
    a{
        font-family: Cinzel;
        
        
        letter-spacing: .2em;
        font-size: 1em;
        color: gray;
        text-decoration: none;
        border-radius: .8em;
        border: 3px solid rgb(255, 0, 0);
        padding: .2em;
        
        &:hover{
            background-color: #ff0000;
            color: aliceblue;
            cursor: pointer;
    }
    }
}


.hero {
    .container{
        text-align: center;
        padding-left: .3em;
        margin-top: 4em;
        margin-bottom: 0em;
    }
   }
 
   html, body {
     height: 0em;
     margin: 0;
   }
   
 
   .timer {
     font-family:Orbitron;
     color: #8d4123;
     margin: 0 auto;
     text-align: center;
     
   }
   
   h1 {
     font-weight: normal;
     letter-spacing: .125rem;
     text-transform: uppercase;
   }
   
   li {
     display: inline-block;
     font-size: 1.5em;
     list-style-type: none;
     padding: 1em;
     text-transform: uppercase;
   }
   
   li span {
     display: block;
     font-size: 4.5rem;
     margin-top: -.5em;
   }
   
 
   
   @media all and (max-width: 768px) {
     h1 {
       font-size: 1.5rem;
     }
     
     li {
       font-size: 1.125rem;
       padding: .75rem;
     }
     
     li span {
       font-size: 3.375rem;
     }
   }


.footer{
    
    display: grid;
    position: fixed;
    bottom: .1em;
    margin: .1em;
    font-size: 60%;
    .rule{
      padding-right: 1em;
    }
    a{
        color:brown;
        text-decoration: none;
        &:hover{
            color: red;
        }
    }
    .contacts{
        position: fixed;
        right: 0;
        padding-right: 1em;
        
    }
}




@media only screen and (min-width: 768px){
    .start{
        text-align: center;
        a{
            font-family: Cinzel;
            
            letter-spacing: .2em;
            font-size: 3em;
                    color: gray;
                    text-decoration: none;
                    border-radius: .8em;
                    border: 3px solid rgb(255, 0, 0);
                    padding: .2em;
                    &:hover{
                        background-color: #ff0000;
                        color: aliceblue;
                        cursor: pointer;
        }
        }
    }
   

}

//////////////////////////////////////BOTTOM LOGO////////////////////////////////////////
.mid{
  padding-top: 7em;
  padding-left: 37em;
  
  display: flex;

  img{
    padding-right: .3em;
  }
  
  .rset img{
    width: 6em;
    
  }
  .iedc img{
   margin-top: -.8em;
   width: 6em;
  }
  .iedc-grey img{
    width: 10em; 
    margin-top: -.3em;
  }
  
}

//////////////////////////////////////BOTTOM LOGO////////////////////////////////////////




