<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xD</title>
</head>
<body>
    <h2>Have a little patience You SNEAKY KId !</h2>
    <div class="tenor-gif-embed" data-postid="5196956" data-share-method="host" data-width="100%" data-aspect-ratio="1.3756906077348066">
        <a href="https://tenor.com/view/spank-tomandjerry-gif-5196956">Spank Tom And Jerry GIF</a> from <a href="https://tenor.com/search/spank-gifs">Spank GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    
</body>
</html>