

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
    <title>Log in</title>
</head>
<body>

    <section class="hero">
        <div class = "container">
            <a href="#">
            <img src="{{url_for('static',filename='Images/Lock_key.png')}}" alt = "Lock and Key">
        </a> 
        </div>
    </section>

    <section class="login">
        <div class="container">
            <h2>Log in</h2>
            <form  method="POST" action="login.html">

                {{ form.hidden_tag() }}
             
                <div class="email">
                {{ form.username }}
                {% for error in form.username.error: %}
                    <li style="color:red;">{{error}}</li>
                {% endfor %}
                </div>       
                <div class="pass">
                {{ form.password }}
                {% for error in form.password.error: %}
                    <li style="color:red;">{{error}}</li>
                {% endfor %}
                
                </div>
                {{ form.remember}}
                

                <button type="submit" class="login-clk"  id="login">Log in</button>

            

            </form>

        </div>
    </section>
    <section class="footer">
        <div class="rule">
            <a href="rules.html">Rules & Guidlines</a>
        </div>
        <div class="contacts">
            <a href="#">Contacts</a>
        </div>    
    </section>

    <!-- <script>
        const tempLogInBtn = document.getElementById('login');

        tempLogInBtn.addEventListener('click', ()=> {
            window.open("start.html")
        })
    </script> -->


    
</body>
</html>