<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">
    <title>Register</title>
</head>
<body>

    <section class="hero">
        <div class = "container">
            <a href="#">
            <img src="{{url_for('static',filename='Images/Lock_key.png')}}" alt = "Lock and Key">
        </a> 
        </div>
    </section>

    <section class="register">
        <div class="container">
            <h2>Register</h2>
            <form action="register.html" method="POST">
                {{ form.hidden_tag() }}
              
                <div class="name">
                    <p>Username</p>
                    {{ form.username }}
                </div>

                <div class="email">
                    <p>Email</p>
                    {{ form.email }}
                    {% for error in form.username.error: %}
                        <li style="color:red;">{{error}}</li>
                    {% endfor %}    
                </div>
        
                <div class="pass">
                    <p>Password</p>
                     {{ form.password }}
                </div>

                <button type="submit" class="register-clk" value="Register" id="register-clk">Submit</button>

            </form>

        </div>
    </section>
    <section class="footer">
        <div class="rule">
            <a href="rules.html">Rules & Guidlines</a>
        </div>
        <div class="contacts">
            <a href="#">Contacts</a>
        </div>    
    </section>


    
</body>
</html>