<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/css/round5-answer.css"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/round5-answer.css')}}">
    <title>Key 5</title>
</head>
<body>

    <section class="key-answers">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <ul>

                {{form.a1}}
                {{form.a2}}
                {{form.a3}}
                {{form.a4}}
                {{form.a5}}
                {{form.a6}}
                {{form.a7}}
                {{form.a8}}
                {{form.a9}}
                {{form.a10}}
                {{form.a11}}
                {{form.a12}}
             
                

                
            </ul>
            <div class="enter" style="margin-top: 5em;">
                <button  id="enter">Enter</button>
            </div>
        </form>

        <a id="homepage" href="unlock">HomePage</a>
    </section>



   
        
    
    
    
    <section class="next-clue" >
        <div id="Myid" style="display: none;" >
        <ul>
            <a href="unlock">{{nextKey}}</a>
            <a href="key6.html">NextClue</a>
        </ul>
    </div>
    </section>

    
    <script>
        var x = document.getElementById("Myid");
        if ( "{{g.user.key5}}" == "1" ) {
        x.style.display = "block";
         }
      
    </script>
    
    
</body>
</html>