<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key 1</title>
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/round1.css')}}"> -->
    <link rel="stylesheet" href="/static/css/round1.css">
</head>
<body>

    <section class="image1">
            <img src="#" alt="img" >
    </section>
    



    <section class="ans">
        <form action="">
            <ul>
            
                <label for="answer"></label>
                <input type="text" name="answer" id="answer">
            
            
            
                
        </ul>
        </form>
    </section>

    <div class="enter">
    <button onclick="toggleText()" id="enter">Enter</button>
</div>

    



    <section class="next-clue" >
        <div id="Myid">
        <ul>
            <a href="unlock.html">XX</a>
            <a href="key2.html">NextClue</a>
        </ul>
    </div>
    </section>


   

<script>
function toggleText(){
  var x = document.getElementById("Myid");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
   
}
</script>

    

</body>
</html>