<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key 1</title>
    <link rel="stylesheet" href="css/round1.css">
</head>
<body>

    <section class="image1">
            <img src="#" alt="img" >
    </section>
    



    <section class="ans">
        <form action="">
            <div class="answer">
                <label for="answer"></label>
                <input type="text" name="answer" id="answer">
            </div>
            <input type="submit" name="enter" id="enter" value="enter">
        </form>
    </section>

    

</body>
</html>