<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/css/round5-answer.css"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/round5-answer.css')}}">
    <title>Key 5</title>
</head>
<body>

    <section class="key-answers">
        <form action="">
            <ul>
                <input type="text" name="key1" id="key1">
                <input type="text" name="key2" id="key2">
                <input type="text" name="key3" id="key3">
                <input type="text" name="key4" id="key4">
                <input type="text" name="key5" id="key5">
                <input type="text" name="key6" id="key6">
                <input type="text" name="key6" id="key7">
                <input type="text" name="key6" id="key8">
                <input type="text" name="key6" id="key9">
                <input type="text" name="key6" id="key10">
                <input type="text" name="key6" id="key11">
                <input type="text" name="key6" id="key12">
            </ul>
        </form>
    </section>

    <div class="enter">
        <button onclick="toggleText()" id="enter">Enter</button>
    </div>
    
        
    
    
    
        <section class="next-clue" >
            <div id="Myid">
            <ul>
                <a href="unlock.html">XX</a>
                <a href="#">NextClue</a>
            </ul>
        </div>
        </section>
    
    
       
    
    <script>
        function toggleText(){
            var x = document.getElementById("Myid");
            if (x.style.display === "none") {
            x.style.display = "block";
            } else {
            x.style.display = "none";
            }
            
        }
    </script>
    
    
</body>
</html>