<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key 2</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/round2.css')}}">
</head>
<body>

    <div class="clock">
        <div class="wrap">
          <span class="hour"></span>
          <span class="minute"></span>
          <span class="second"></span>
          <span class="dot"></span>
        </div>
    </div>
    <section class="ans">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            
                <label for="answer"></label>
                {{ form.answer }}
            
            <input type="submit" name="enter" id="enter" value="enter">
        </form>
    </section>



    <script>
        var inc = 1000;

        clock();

    function clock() {
        const date = new Date();

        const hours = ((date.getHours() + 11) % 12 + 1);
        const minutes = date.getMinutes();
        const seconds = date.getSeconds();
        
        const hour = hours * 30;
        const minute = minutes * 6;
        const second = seconds * 6;
        
        document.querySelector('.hour').style.transform = `rotate(${hour}deg)`
        document.querySelector('.minute').style.transform = `rotate(${minute}deg)`
        document.querySelector('.second').style.transform = `rotate(${second}deg)`
    }

    setInterval(clock, inc);

    </script>`
<a id="homepage" href="unlock">HomePage</a>

<section class="next-clue" >
    <ul class="click" style="display: none;" id="Myid">
        <a href="unlock">{{nextKey}}</a>
        <a href="key3.html">NextClue</a>
    </ul>
</section>

<script>
     var x = document.getElementById("Myid");
    
    if ( "{{g.user.key2}}" == "1" ) {
        x.style.display = "block";
         }

</script>
    
</body>
</html>