<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonus</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/round3.css')}}">
</head>
<body>
    <div class="container">
        <h1 id="headline"></h1>
        <div id="countdown">
          <ul>
            <li><span id="days"></span>days</li>
            <li><span id="hours"></span>Hours</li>
            <li><span id="minutes"></span>Minutes</li>
            <li><span id="seconds"></span>Seconds</li>
          </ul>
        </div>
    </div>


    <div class="bonus" >
      <a  href="https://meet.google.com/ttd-obzz-dgq" id="bon">Bonus Round</a>
    </div>
        

      <script>
        (function () {
         const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

        let deadline = "July 6, 2021 11:30:00"
        countDown = new Date(deadline).getTime(),
        x = setInterval(function() {    

        let now = new Date().getTime(),
            distance = countDown - now;

        document.getElementById("days").innerText = Math.floor(distance / (day)),
          document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
          document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
          document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

        //Do DO OD OD ODDODODODODO
        if (distance < 0) {
          let headline = document.getElementById("headline"),
              countdown = document.getElementById("countdown"),
              content = document.getElementById("content");


            document.getElementById("bon").innerHTML = "Continue ";
            document.getElementById("bon").href = "key4.html";
            headline.innerText = "Too late, Missed the Bonus Round!";
            countdown.style.display = "none";
            content.style.display = "block";

            
            

            clearInterval(x);
        }
        //seconds
      }, 0)
  }());
      </script>
      <section class="cmid" style="text-align: center;">
        <div class="mid">
            
          <a class="define" href="http://rsetiedc.in/define" ><img style="width: 8.5em; position: fixed; left: 0; bottom: 1em;" src="{{ url_for('static',filename='Images/Logo.png') }}" alt="Define"></a>
        </div>
        </section>

      
    
</body>
</html>