<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key 1</title>
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/round1.css')}}"> -->
    <link rel="stylesheet" href="/static/css/round1.css">
</head>
<body>

    <section class="image1">
            <img src="#" alt="img" >
    </section>
    
    <section class="ans">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
                <label for="answer"></label>
                {{form.answer}}
       <button class="enter" type="submit" id="enter">Enter</button>
        </form>
    </section>

    <section class="next-clue" >
        <div id="Myid">
        <ul>
            <a href="unlock">{{nextKey}}</a>
            <a href="key2.html">NextClue</a>
        </ul>
    </div>
    </section>


<script>
    var x = document.getElementById("Myid");
    
    if ( "{{g.user.key1}}" == "1" ) {
        x.style.display = "block";
         }
</script>



    

</body>
</html>