<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Crossword</title>
    <!-- <link rel="stylesheet" href="/static/css/round5.css"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/round5.css')}}">
</head>
<body>
    <h1>Technical Crossword </h1>

    <p>Click on a clue or press TAB. Type your answers.</p>
    <p> When Done  <a href="{{url_for('round5')}}" target="_blank" rel="noreferrer noopener">Go here</a> (Dont Close This Page! )</p>
    </div>

    <main>
      <del></del>
      <ins data-clue=1></ins>
      <ins data-clue=2></ins>
      <del></del>
      <del></del>
      <ins data-clue=3></ins>
      <del></del>
      <ins data-clue=4></ins>
      <ins></ins>
      <ins data-clue=5 class="clue4"></ins>
      <del></del>
      <del></del>
    
      <del></del>
      <ins data-clue=6></ins>
      <ins class="clue1"></ins>
      <ins></ins>
      <ins></ins>
      <ins class="clue2"></ins>
      <ins></ins>
      <del></del>
      <del></del>
      <ins></ins>
      <del></del>
      <ins data-clue=7></ins>
    
      <del></del>
      <del></del>
      <ins></ins>
      <del></del>
      <del></del>
      <ins></ins>
      <del></del>
      <del></del>
      <del></del>
      <ins></ins>
      <del></del>
      <ins></ins>
    
      <del></del>
      <ins data-clue=8></ins>
      <ins class="clue3"></ins>
      <ins></ins>
      <del></del>
      <ins></ins>
      <del></del>
      <ins data-clue=9></ins>
      <ins></ins>
      <ins class="clue5"></ins>
      <ins></ins>
      <ins class="clue6"></ins>
    
      <del></del>
      <del></del>
      <ins></ins>
      <del></del>
      <del></del>
      <ins></ins>
      <del></del>
      <del></del>
      <del></del>
      <ins></ins>
      <del></del>
      <ins></ins>
    
     
      <del></del>
      <del></del>
      <del></del>
      <ins data-clue=10></ins>
      <ins></ins>
      <ins class="clue7"></ins>
      <ins></ins>
      <del></del>
      <del></del>
      <ins></ins>
      <del></del>
      <ins></ins>
    
      <ins data-clue=11></ins>
      <ins data-clue=12></ins>
      <ins></ins>
      <ins class="clue8"></ins>
      <del></del>
      <ins></ins>
      <del></del>
      <del></del>
      <del></del>
      <ins></ins>
      <del></del>
      <ins></ins>
    
      <del></del>
      <ins></ins>
      <del></del>
      <ins></ins>
      <del></del>
      <ins></ins>
      <del></del>
      <del></del>
      <del></del>
      <ins></ins>
      <del></del>
      <del></del>
    
      <del></del>
      <ins></ins>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <ins data-clue=13></ins>
      <ins></ins>
      <ins></ins>
      <ins class="clue9"></ins>
      <ins></ins>
      <del></del>
      
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>

      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
      <del></del>
    

      
    
    </main>
    
    <ul>
      <li class="heading">Across</li>
      <li data-clue=1 data-dir="across" data-length=2>1. Up Down Up Down Up Down, 'B' is chilled!(2)</li> 
      <li data-clue=4 data-dir="across" data-length=3>4. "Use THIS if you want to wake me up faster" Says PC  (3)</li>
      <li data-clue=6 data-dir="across" data-length=6>6. If Railways killed friction, who killed it ?(6)</li>
      <li data-clue=8 data-dir="across" data-length=3>8. "I sense heat and humidity" Says _ _ _11(3)</li>
      <li data-clue=9 data-dir="across" data-length=5>9. Coulomb under mechanical stress, order only the Dominos! (5)</li>
      <li data-clue=10 data-dir="across" data-length=4>10. Yhou get information processing me (4)</li>
      <li data-clue=11 data-dir="across" data-length=4>11. From host bus to sotrage device (4)</li>
      <li data-clue=13 data-dir="across" data-length=5>13. Relationship of angles between two waves (5)</li>
      
    </ul>
    
    <ul>
      <li class="heading">Down</li>
      <li data-clue=1 data-dir="down" data-length=2>1. Tune now, Its morning!! (2)</li>
      <li data-clue=2 data-dir="down" data-length=5>2. When it's kept here, the files come out faaaasstt!! (5)</li>
      <li data-clue=3 data-dir="down" data-length=8>3. Big B. Roy of in Great Britain cracked this  (8)</li>
      <li data-clue=5 data-dir="down" data-length=11>5. Go Back to 280TKGL, Find Many... (11)</li>
      <li data-clue=7 data-dir="down" data-length=6>7. I was with Salyut, K? POSITIVE Vibes only! (6)</li>
      <li data-clue=10 data-dir="down" data-length=3>10. What did the PC call Charles?! (4) (3)</li>
      <li data-clue=12 data-dir="down" data-length=5>12. "He can ONLY be HIGH if ALL those who went inside are HIGH" says the Cop.(3)</li>
      
      
    
    </ul>
    


    <script>
        let index = Array.from(document.querySelector('main').children);
        let clues = Array.from(document.querySelectorAll('li[data-clue]'));
        
        let state = {
          index: null,
          clue: null,
          cursor: 0,
          answers: {},
          count: 16
        };
        
        function toggleClue() {
          let c = this.getAttribute("data-clue");
          let d = this.getAttribute("data-dir");
          let l = this.getAttribute("data-length");
          let s = index.indexOf(document.querySelector('ins[data-clue="'+c+'"]'));
          for (let x=0;x<l;x++) {
            if (d==="across") {
              index[s+x].classList.toggle("highlight");
            } else {
              index[s+x*12].classList.toggle("highlight");        
            }
          }
        }
        
        function editClue() {
        
          Array.from(document.querySelectorAll('.cursor,.editting,.current')).map(el => el.classList.remove("cursor","editting","current"));
        
          let c = parseInt(this.getAttribute("data-clue"));
          let l = parseInt(this.getAttribute("data-length"));
          let d = this.getAttribute("data-dir");
          let s = index.indexOf(document.querySelector('ins[data-clue="'+c+'"]'));
          for (let x=0;x<l;x++) {
            if (d==="across") {
              index[s+x].classList.add("editting");
            } else {
              index[s+x*12].classList.add("editting");        
            }
          }
          state.index = s;
          state.clue = c;
          state.dir = d;
          state.length = l;
          if (state.answers[c+'-'+d] === undefined) {
            state.answers[c+'-'+d] = '';
            state.cursor = 0;
          } else {
            if (state.length === state.answers[c+'-'+d].length) {
              state.cursor = state.answers[c+'-'+d].length - 1;
            } else {
              state.cursor = state.answers[c+'-'+d].length;
            }
          }
        
          if (state.dir === "across") {
            index[s + state.cursor].classList.add("cursor");
          } else {
            index[s + state.cursor * 12].classList.add("cursor");
          }
        
          document.querySelector('li[data-clue="'+c+'"][data-dir="'+d+'"]').classList.add("current");
        }
        
        clues.forEach((clue)=>{
          ['mouseover', 'mouseout'].map(e=>{ clue.addEventListener(e, toggleClue); });
          clue.addEventListener('click', editClue);
        });
        
        document.addEventListener('keydown', (e)=>{
          e.preventDefault();
          switch(e.key){
            case "Shift":
            case "Space":
            case "Enter":
              return;
            case "Tab":
              let cli = document.querySelector('li[data-clue="'+state.clue+'"][data-dir="'+state.dir+'"]');
              let c = clues.indexOf(cli);
        
              if (e.shiftKey===true) {
                nc = c - 1;
              } else {
                nc = c + 1;
              }
        
              if (nc === clues.length) {
                nc = 0;
              } else if (nc === -1) {
                nc = clues.length - 1;
              }
        
              editClue.bind(clues[nc])();
              return;
              break;
            case "Backspace":
              if (!state.clue) return;
              state.answers[state.clue+'-'+state.dir] = state.answers[state.clue+'-'+state.dir].substr(0, state.answers[state.clue+'-'+state.dir].length - 1);
              break;
            default:
              if (!state.clue) return;
              if (e.key.length > 1) return;
              if (state.answers[state.clue+'-'+state.dir].length < state.length) {
                state.answers[state.clue+'-'+state.dir] += e.key;
              }
              break;
          }
        
          if (state.dir==="across") {
            index[state.index + state.cursor].classList.remove("cursor");
          } else {
            index[state.index + state.cursor * 12].classList.remove("cursor");
          }
          state.cursor = state.answers[state.clue+'-'+state.dir].length;
          if (state.cursor < 0){
            state.cursor = 0;
          } else if (state.cursor > state.length - 1) {
            state.cursor = state.length - 1;
          }
          if (state.dir==="across") {
            index[state.index + state.cursor].classList.add("cursor");
          } else {
            index[state.index + state.cursor * 12].classList.add("cursor");
          }
        
          for (let x=0; x<state.length; x++) {
            if (state.dir==="across") {
              index[state.index + x].textContent = state.answers[state.clue+'-'+state.dir][x];          
            } else {
              index[state.index + x * 12].textContent = state.answers[state.clue+'-'+state.dir][x];
            }
          }
        }, false);
        
        function selectClue(){
          let c = parseInt(this.getAttribute('data-clue'));
          let li = Array.from(document.querySelectorAll('li[data-clue="'+c+'"]'));
          if (li.length === 1) {
            editClue.bind(li[0])();
          } else {
            if (state.dir === "across") {
              editClue.bind(li[1])();
            } else {
              editClue.bind(li[0])();
            }    
          }
        }
        
        Array.from(document.querySelectorAll('ins[data-clue]')).map((el)=>{
          el.addEventListener('click', selectClue);
        });
    </script>


    
    
    
</body>
</html>