<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key 4</title>
</head>
<body>
    <h2>Clue to sponser webpage here</h2> 
    <form action="" , method="POST">
        <div class="answer">
        {{ form.hidden_tag() }}                
    </div>
        {{form.answer}}
        <button type="submit">Enter</button>
    </form>
    <a id="homepage" href="unlock">HomePage</a>

    <section class="next-clue" >
        <!-- <ul class="click" style="display: none;" id="Myid"> -->
            <ul class="click" style="display: none;" id="Myid">
            <a href="unlock">{{nextKey}}</a>
            <a href="crossword">NextClue</a>
        </ul>
    </section>

    <script>
        var x = document.getElementById("Myid");
       
       if ( "{{g.user.key4}}" == "1" ) {
           x.style.display = "block";
            }
   
   </script>
    
</body>
</html>