<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/rules.css')}}">
    <title>Rule & Guidelines</title>
</head>
<body>
    <h1>Rules And Guidelines</h1>
    
    <div class="rules" style="color: #8d4123;">
        <ul>
            <li>Locke and key is an individual event comprising 10 rounds.</li>
            <li>The platform will be our own website</li>
            <li>Contestants are requested to use a PC or Laptop</li>
            <li>It is advised to have an uninterrupted internet connection.</li>
            <li>The event will last for 24 hours and results will be published afterwards.</li>
            <li>The participation will be on a first come first serve basis.</li>
            
        </u>
    </div>

    <section class="okay-btn">
        <a onclick="goBack()" href="#">okay</a>
        
    </section>

    <script>
        function goBack() {
          window.history.back();
        }
        </script>

</body>
</html>