<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unlock!</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/unlcok.css')}}">
</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="logo-div">
                <a class="logo" href="#">
                    <img src="{{url_for('static',filename='Images/Lock_key.png')}}" alt="Lock and Key">
                </a>
                </div>
            

            <img id="mobile-cta" class="mobile-menu" src="{{url_for('static',filename='Images/menu.svg')}}" alt="Open Navigation">

            <nav>
                <img id="mobile-exit" class="mobile-menu-exit" src="{{url_for('static',filename='Images/exit.svg')}}" alt="Close Navigation">
                
                <ul class="primary-nav">
                    <li class="current"><a href="unlock">Home</a></li> 
                    <li><a href="rules.html" >Rules & Guidelines</a></li>
                    <li class="admin" id="admin"><a href="https://www.lockandkey-define.in/admin/">Admin</a></li>
                    <li><a href="key1.html" id="nav_key1" >Key 1</a></li>
                    <li><a href="key2.html" id="nav_key2" >Key 2</a></li>
                    <li><a href="key3.html" id="nav_key3" >Key 3</a></li>
                    <li><a href="key4.html" id="nav_key4" >Key 4</a></li>
                    <li><a href="key5.html" id="nav_key5" >Key 5</a></li>
                    <li><a href="key6.html" id="nav_key6" >Key 6</a></li>
                    <li><a href="key7.html" id="nav_key7" >Key 7</a></li>
                    <li><a href="key8.html" id="nav_key8" >Key 8</a></li>
                    <li><a href="key9.html" id="nav_key9" >Key 9</a></li>

                    
                    
                </ul>

                <ul class="secondary-nav">
                    <li><a href="#">Contact</a></li>
                    <li class="go-premium-cta"><a href="{{ url_for('logout') }}">Log Out</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <script>

        const mobileBtn = document.getElementById('mobile-cta')
              nav = document.querySelector('nav')
              mobileBtnExit = document.getElementById('mobile-exit');

        mobileBtn.addEventListener('click', () => {
            nav.classList.add('menu-btn');
        })

        mobileBtnExit.addEventListener('click', () => {
            nav.classList.remove('menu-btn');
        })



    </script>

<section class="hero">
    <div class = "container">
        <a href="#">
        <img src="{{url_for('static',filename='Images/Lock_key.png')}}" alt = "Lock and Key">
    </a> 
    </div>
</section>

<section class="next-clue">
    <a href="key1.html">Find the keys!</a>
</section>

<section class="gold-key">
    <img src="{{url_for('static',filename='Images/golden-key.png')}}">
</section>

<section class="key-answers">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <ul>
                {{form.key_1}}
                {{form.key_2}}
                {{form.key_3}}
                {{form.key_4}}
                {{form.key_5}}
                {{form.key_6}}
                {{form.key_7}}
                {{form.key_8}}

    
        </ul>
        
        <button class="unlock-btn" id="unlock-btn" type="submit">Unlock</button>
    </form>
</section>



<div class="timer">
    <h1 id="headline"></h1>
    <div id="countdown">
      <ul>
        <li><span id="days"></span>days</li>
        <li><span id="hours"></span>Hours</li>
        <li><span id="minutes"></span>Minutes</li>
        <li><span id="seconds"></span>Seconds</li>
      </ul>
    </div>
</div>











<script>
    (function () {
     const second = 1000,
    minute = second * 60,
    hour = minute * 60,
    day = hour * 24;

    let deadline = "July 6, 2021 21:00:00",
    countDown = new Date(deadline).getTime(),
    x = setInterval(function() {    

    let now = new Date().getTime(),
        distance = countDown - now;

    document.getElementById("days").innerText = Math.floor(distance / (day)),
      document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
      document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
      document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

    //Do DO OD OD ODDODODODODO
    if (distance < 0) {
      let headline = document.getElementById("headline"),
          countdown = document.getElementById("countdown"),
          content = document.getElementById("content");

        headline.innerText = "HUNT OVER";
        countdown.style.display = "none";
        content.style.display = "block";

        clearInterval(x);
    }
    //seconds
  }, 0)
}());
  </script>



  <script>
      var role_var = "{{g.user.role}}";
      var x = document.getElementById("admin");
      var nav_key1 = document.getElementById("nav_key1");
      var nav_key2 = document.getElementById("nav_key2");
      var nav_key3 = document.getElementById("nav_key3");
      var nav_key4 = document.getElementById("nav_key4");
      var nav_key5 = document.getElementById("nav_key5");
      var nav_key6 = document.getElementById("nav_key6");
      var nav_key7 = document.getElementById("nav_key7");
      var nav_key8 = document.getElementById("nav_key8");
      var nav_key9 = document.getElementById("nav_key9");

      if ( role_var != "admin" ){
        x.style.display = "none";
        
        if ( "{{g.user.key1}}" != '1' ) {nav_key1.style.display = "none";}
        if ( "{{g.user.key2}}" != '1' ) {nav_key2.style.display = "none";}
        if ( "{{g.user.key3}}" != '1' ) {nav_key3.style.display = "none";}
        if ( "{{g.user.key4}}" != '1' ) {nav_key4.style.display = "none";}
        if ( "{{g.user.key5}}" != '1' ) {nav_key5.style.display = "none";}
        if ( "{{g.user.key6}}" != '1' ) {nav_key6.style.display = "none";}
        if ( "{{g.user.key7}}" != '1' ) {nav_key7.style.display = "none";}
        if ( "{{g.user.key8}}" != '1' ) {nav_key8.style.display = "none";}
        if ( "{{g.user.key9}}" != '1' ) {nav_key9.style.display = "none";}

                            
      }


     

  </script>
    
</body>
</html>