<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/yay.css">
    <title>Document</title>
</head>
<body style="background-color: black;">

    <!-- <div  style="text-align: center;"><img style="width: 100%;" src="{{url_for('static',filename='Images/win1.gif')}}" alt=""></div> -->
    
    <div class="container">
        <div class="glitch" data-text="UNLOCKED">UNLOCKED</div>
        <div class="glow">UNLOCKED</div>
        <p class="subtitle">You Have Successfully completed <b>the Hunt</b></p>
        </div>
        <div class="scanlines"></div>
</body>
</html>